#windy {
  height: 100vh;
}

#upload {
  position: fixed;
  z-index: 100;
  background-color: rgba(127, 127, 127, 0.7); /* 50% transparent */
  color: white;
  margin: 5px;
  padding: 5px;
  max-width: 30%;
}
